@model Filmoteka.ViewModels.MovieEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4" algin="center">
        <form asp-action="Edit" enctype="multipart/form-data" asp-controller="Movies" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <td id =model.Title>
                <img class="d-block w-100" src="~/images/@Model.ImageName">
                </td>
                <label asp-for="MovieImage" class="control-label"></label>
                <input asp-for="MovieImage" class="custom-image-input" id="customImage"/>
                <label class="custom-image-label" for="customImage">Wybierz obraz dla filmu</label>
                <span asp-validation-for="MovieImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(".custom-image-input").on("change", function()){
            var imageFileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(imageFileName);
        });   
    </script>
}

